body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.sortorder:after {
  content: '\25b2';
}

.sortorder.reverse:after {
  content: '\25bc';
}

.skill + .skill:before {
  content: ', ';
}

.jobTable {
  background-color: #927d7d;
  margin: 2px;
}

.navClass {
  background-color: #f5f5f5;
  border-radius: 2%;
}

.job:hover {
  background-color: wheat;
}
